@using System.Data;
@using System.Linq;


@model System.Data.DataTable
@{
    ViewBag.Title = "會員證券庫存";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 3;
    string CCY = "美元";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    };
    string[] dataLegend = new string[Model.Rows.Count];
    var legendList = dataLegend.ToList();
    decimal[] data = new decimal[Model.Rows.Count];
    var dataList = data.ToList();
}

<div class="row row-cols-2 mt-3 mb-3 shadow justify-content-around align-items-center rounded-lg">
    <div class="col">
        @Html.Action("_GetMemberSecList")
    </div>
    <div class="col">
        <canvas id="SecListPie">
        </canvas>
    </div>

</div>
<h3>證券交易明細</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                交易種類
            </th>
            <th>
                證券代號
            </th>
            <th>
                股數
            </th>
            <th>
                價格
            </th>
            <th>
                手續費
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            legendList.Append(row["Symbol"]).ToArray();
            dataList.Append(Math.Round(Convert.ToDecimal(row["Share"]), 2)).ToArray();
            <tr>
                <td>
                    @Convert.ToDateTime(row["Date"]).ToString("yyyy/MM/dd")
                </td>
                <td>
                    @if (Convert.ToBoolean(row["TrancType"]))
                    {
                        <span class="text-danger">買進</span>
                    }
                    else
                    {
                        <span class="text-success">賣出</span>
                    }
                </td>
                <td>
                    @row["Symbol"]

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Share"]), 2)

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Price"]), 2)

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Fee"]), 2)
                </td>
            </tr>
        }
    </tbody>
</table>



