@using System.Data;



@model System.Data.DataTable
@{
    ViewBag.Title = "會員證券庫存";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 24;
    string CCY = "USD";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    };
    string[] dataLegend = new string[Model.Rows.Count];
    var legendList = dataLegend.ToList();
    double[] data = new double[Model.Rows.Count];
    var dataList = data.ToList();
}

<div class="row my-3 py-3 shadow justify-content-around align-items-center rounded-lg">
    <div class="col-md-9">
        @Html.Action("_GetMemberSecList")
    </div>
    <div class="col-md-3">
        <canvas id="pieChart"></canvas>
    </div>

</div>
<div class="row my-3 py-3 shadow rounded-lg">
    <h4 class="col-sm-10 text-center">歷史交易明細 </h4>
    <button class="col-sm-2 btn btn-primary mb-2" data-toggle="modal" data-target="#createModal" onclick="showCreateModal(event)" id="@memberID"><i class="bi bi-plus-circle"></i> 新增交易明細</button>

    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    日期
                </th>
                <th>
                    交易種類
                </th>
                <th>
                    證券代號
                </th>
                <th>
                    股數
                </th>
                <th>
                    價格
                </th>
                <th>
                    手續費
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                legendList.Append(row["Symbol"]).ToArray();
                dataList.Append(Math.Round(Convert.ToDouble(row["Share"]), 2)).ToArray();
                <tr>
                    <td>
                        @Convert.ToDateTime(row["Date"]).ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @if (Convert.ToBoolean(row["TrancType"]))
                        {
                            <span class="text-danger">買進</span>
                        }
                        else
                        {
                            <span class="text-success">賣出</span>
                        }
                    </td>
                    <td>
                        @row["Symbol"]

                    </td>
                    <td>
                        @Math.Round(Convert.ToDouble(row["Share"]), 2)

                    </td>
                    <td>
                        @Math.Round(Convert.ToDouble(row["Price"]), 2)

                    </td>
                    <td>
                        @Math.Round(Convert.ToDouble(row["Fee"]), 2)
                    </td>
                    <td>
                        <button class="btn bi bi-pencil-fill text-primary" id="@row["SSN"]" data-toggle="modal" data-target="#editModal" onclick="showEditModal(event)" value="@row["Date"]"></button>
                        <a class="btn bi-trash3-fill text-danger" href="@Url.Action("Delete", "SecOrders", new { id = @row["SSN"] })" onclick="return confirm('您確定要刪除本筆明細嗎？')"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#sidebarMenu .nav-link').removeClass('active');
        $('#navLink2').addClass('active');
        function showEditModal(evt) {
            let id = evt.target.id;
            //let value = evt.target.value;
            $('#editModal .modal-body').load("/SecOrders/_Edit/" + id);
        }    

        function showCreateModal(evt) {
            let id = evt.target.id;
            //let value = evt.target.value;
            $('#createModal .modal-body').load("/SecOrders/_Create/?memId=" + id);
        } 

        var pieChart;
        var pieData=[];
        var pieLabels = [];
        var id =@Html.Raw(memberID);
        function getMemberSecPie(id) {
            $.ajax({
                type: "get",
                url: 'http://localhost:56540/MemberSecurities/GetSecPieChart/'+id,
                async: false,
                success: function (data) {
                    let i;
                    for (i = 0; i < data['data'].length; i++) {
                        pieData.push(data['data'][i]);
                        pieLabels.push(data['labels'][i]);
                    }
                }
            });
        };
        getMemberSecPie(id);
        //console.log(pieData)

        data = {
            labels: pieLabels,
            datasets: [{
                label: ['現值'],
                data: pieData,
                backgroundColor: ["#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7", "#fd7f6f", "#7eb0d5"],
            }]
        };
        //var legendON = pie['labels'].length < 5 ? true : false;

        config = {
            type: "pie",
            data,
            options: {
                maintainAspectRatio: true,
                plugins: {
                    datalabels: {
                        align: 'center',
                        formatter: (value, context) => {
                            const datapoints = context.chart.config.data.datasets[0].data;
                            const totalvalue = datapoints.reduce((total, datapoint) => total + datapoint,
                                0);
                            const percentageValue = (value / totalvalue * 100).toFixed(2);
                            const display = [`${percentageValue}%`]
                            return display;
                        },
                        font: {
                            weight:'bold'
                        }
                    },
                    legend: {
                        display: true,
                        onHover: (event, chartElement) => {
                            event.native.target.style.cursor = 'pointer';
                        },
                        onLeave: (event, chartElement) => {
                            event.native.target.style.cursor = 'default';
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        };
        pieChart = new Chart(document.getElementById("pieChart"),
            config);

    </script>
}
