@using System.Data;

@model System.Data.DataTable
@{
    ViewBag.Title = "會員證券庫存";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 3;
    string CCY = "美元";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    };
}

<h3>證券交易明細</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                交易種類
            </th>
            <th>
                證券代號
            </th>
            <th>
                股數
            </th>
            <th>
                價格
            </th>
            <th>
                手續費
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @Convert.ToDateTime(row["Date"]).ToString("yyyy/MM/dd")
                </td>
                <td>
                    @if (Convert.ToBoolean(row["TrancType"]))
                    {
                    <span class="text-danger">買進</span>
                    }
                    else
                    {
                        <span class="text-success">賣出</span>
                    }
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("Display", "Performance", new {id = Session["mem"] != null ? Session["mem"] : 22,symbol = @row["Symbol"] })">@row["Symbol"]</a>

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Share"]),2)

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Price"]),2)

                </td>
                <td>
                    @Math.Round(Convert.ToDecimal(row["Fee"]),2)
                </td>
            </tr>
        }
    </tbody>
</table>
<h4 class="text-danger">@ViewBag.SecMsg</h4>

