@model AMWP.Models.Cash

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 22;
    string CCY = "USD";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    };
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cash</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MemID, "會員帳號", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemID, new { htmlAttributes = new { id = "MemID", @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.MemID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CCYID, "CCYID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CCYID, new { htmlAttributes = new { id = "CCYID", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CCYID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick = "getDefault()" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回上頁", "Display", "MemberCash")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    function getDefault() {
       
        document.getElementById("MemID").defaultValue = @memberID;
        document.getElementById("CCYID").defaultValue = "@CCY";
    }


</script>

}
