@model AMWP.Models.Members

@{
    ViewBag.Title = "會員資料管理";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3 class="alert alert-info text-center">會員資料</h3>


    <div class="container">
        <div class="form-group row align-items-baseline">
            <div class="col-md-5 text-md-right">
                @Html.DisplayNameFor(model => model.Account)
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.Account)
            </div>
        </div>
        

        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>

        <div>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>

        <div>
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Status)
        </div>

        <div>
            @Html.DisplayFor(model => model.Status)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Currencies.Name)
        </div>

        <div>
            @Html.DisplayFor(model => model.Currencies.Name)
        </div>

    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #acf2d4;
            border-color: #bee5eb;
        }
    </style>
}