@*@model IEnumerable<AMWP.Models.Daily>*@
@using System.Data;
@model System.Data.DataTable
@{
    ViewBag.Title = "證券歷史資料";
}
<hr />
<h3 class="alert alert-info text-center">證券日成交資訊</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">

        <tr>
            <th>
                證券代碼
            </th>
            <th>
                交易日期<button class="btn bi-caret-up-fill text-light btn-sm"></button><button class="btn bi-caret-down-fill text-light btn-sm"></button>
            </th>
            <th>
                開盤價
            </th>
            <th>
                最高價
            </th>
            <th>
                最低價
            </th>
            <th>
                收盤價
            </th>
            <th>
                調整收盤價
            </th>
            <th>
                股利
            </th>
            <th>
                成交量
            </th>

            @*<th>資料管理</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @row["Symbol"]
                </td>
                <td>
                    @row["Date"]
                </td>
                <td>
                    @row["Open"]
                </td>
                <td>
                    @row["High"]
                </td>
                <td>
                    @row["Low"]
                </td>
                <td>
                    @row["Close"]
                </td>
                <td>
                    @row["AdjClose"]
                </td>
                <td>
                    @row["Dividend"]
                </td>
                <td>
                    @row["Volume"]
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SSN }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SSN }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SSN })
                </td>*@
            </tr>
        }
    </tbody>
</table>

@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #a9f6f6;
            border-color: #bee5eb;
        }
    </style>
}
