@model AMWP.Models.Currencies

@{
    ViewBag.Title = "新增交易幣別";
}
<hr />
<h3 class="alert alert-info text-center">新增交易幣別</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CCYID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CCYID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CCYID, "", new { @class = "text-danger" })
            </div>
            <div class="text-danger ml-3">@ViewBag.PKCheck</div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExchRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExchRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExchRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定新增" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回交易幣別列表", "Index", null, new { @class = "btn btn-info" })
</div>
@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #e3f5b8;
            border-color: #bee5eb;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
