@model AMWP.Models.Properties

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";

    int memberID = 3;
    string CCY = "USD";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    }
}

<h2>Details</h2>

<div>
    <h4>Properties</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currencies.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currencies.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.Account)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SSN }) |
    <a href="/Properties/Index">Back to List</a>

</p>
