@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AMWP.Models.Monthly>


@{
    ViewBag.Title = "證券歷史資料";
}
<hr />
<h3 class="alert alert-info text-center">證券月成交資訊</h3>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Securities.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AdjClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Dividend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Volume)
            </th>

            @*<th>資料管理</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Securities.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.High)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Low)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdjClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dividend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.SSN }) |
                        @Html.ActionLink("Details", "Details", new { id=item.SSN }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.SSN })
                    </td>*@
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #a9f6f6;
            border-color: #bee5eb;
        }
    </style>
}

@section scripts{
    <script>
        $('.pagination-container >ul').addClass('justify-content-center');
        $('.pagination-container >ul>li').removeClass().addClass('page-item');
        $('.pagination-container >ul>li>a').addClass('page-link');

    </script>

}