@model AMWP.ViewModels.Dashboard

@{
    ViewBag.Title = "會員資產管理";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";

    int memberID = 24;
    string CCY = "USD";
    string symbolstr = "VT";
    var cashSum = Convert.ToDouble(Session["cashSum"]);
    var secSum = Convert.ToDouble(Session["secSum"]);
    var pptySum = Convert.ToDouble(Session["pptySum"]);
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    }
}
@*@if(Session["mem"] == null) {
    <h3 class="alert alert-info text-center">展示畫面</h3>
    }*@
<div class="">
    <div class="row justify-content-around align-items-center">
        <div class="row col-md-6 mt-3 mb-3 shadow justify-content-around align-items-center rounded-lg">
                <h5 class="text-center col-md-12">各類資產淨值</h5>
            <div class="col-md-6 mt-3">
                <table class="table table-sm text-center">
                    <thead class="thead">
                        <tr>
                            <th>
                                類別
                            </th>
                            <th>
                                現值(@CCY)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-cash btn-sm" href="@Url.Action("Display","MemberCash",new { id = Session["mem"]!=null? Session["mem"]:24,ccy=Session["CCY"]!=null? Session["CCY"]:"USD" })">現金</a>
                            </td>
                            <td class="align-middle">
                                @cashSum
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-securities btn-sm" href="@Url.Action("DisplaySecOrders","MemberSecurities", new { id = Session["mem"]!=null? Session["mem"]:24,ccy=Session["CCY"]!=null? Session["CCY"]:"USD" })">證券</a>
                            </td>
                            <td class="align-middle">
                                @secSum
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-property btn-sm" href="@Url.Action("Display","MemberProperties",new { id = Session["mem"]!=null? Session["mem"]:24,ccy=Session["CCY"]!=null? Session["CCY"]:"USD" })">房產</a>
                            </td>
                            <td class="align-middle">
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <canvas id="assetTypeDoughnut" aria-label="資產佔比" role="img"></canvas>
                <div class="text-center">資產佔比</div>
            </div>
        </div>
        <div class="row col-md-6 mt-3 mb-3 shadow justify-content-around align-items-center rounded">
            <h5 class="text-center col-md-12">證券配置</h5>

            <div class="col-md-6">
                @Html.Action("_GetSecTypeList", "MemberSecurities")
            </div>
            <div class="col-md-6">
                <canvas id="secAllocDoughnut"></canvas>

                <div class="text-center">各類證券佔比</div>
            </div>
        </div>

    </div>

    <div>
        <div>
            <canvas id="secValueLineChart" aria-label="資產股價圖" role="img"></canvas>

        </div>
    </div>
</div>

<div hidden>
    @Html.Action("_GetMemberSecList", "MemberSecurities")
    @Html.Action("Display", "MemberCash")
</div>
@section CSS{
    <link href="~/Content/dashboard.css" rel="stylesheet" />
   
}

@section scripts{
    <script>
        $('#sidebarMenu .nav-link').removeClass('active');
        $('#navLink1').addClass('active');
        var id =@Html.Raw(memberID);
        //CircleChart(canvasId,chartType,dataLegend,dataset,tooltipON)
        const chartType1 = 'doughnut'
        const dataLegend1 = ['現金', '證券', '房產'];
        const dataset1 = [@cashSum,@secSum, @pptySum];
        const color1 = ["#ffb55a", "#bd7ebe", "#b2e061", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7", "#fd7f6f", "#7eb0d5"];
        circleChart('assetTypeDoughnut', chartType1, dataLegend1, dataset1, color1);

        var doughnutChart;
        var doughnutData=[];
        var doughnutLabels = []; 
        function getMemberSecDough(id) {
            $.ajax({
                type: "get",
                url: 'http://localhost:56540/MemberSecurities/GetSecTypeDoughnutChart/'+id,
                async: false,
                success: function (data) {
                    let i;
                    for (i = 0; i < data['data'].length; i++) {
                        doughnutData.push(data['data'][i]);
                        doughnutLabels.push(data['labels'][i]);
                    }
                }
            });
        };
        getMemberSecDough(id);

        const chartType2 = 'doughnut'
        const dataLegend2 = doughnutLabels;
        const dataset2 = doughnutData;
        const color2 = ["#f59b9b", "#f7f472", "#8cd9f5", "#df95f7", "#b3f67c"];
        circleChart('secAllocDoughnut', chartType2, dataLegend2, dataset2, color2);


        //圓形圖
            function circleChart(id, chartType, types, assetNets,color) {
                const data = {
                    labels: types,
                    datasets: [{
                        label: ['現值'],
                        data: assetNets,
                        backgroundColor: color
                    }]
                };

                const config = {
                    type: chartType,
                    data,
                    options: {
                        maintainAspectRatio: true,
                        plugins: {
                            datalabels: {
                                align: 'center',
                                formatter: (value, context) => {
                                    const datapoints = context.chart.config.data.datasets[0].data;
                                    //console.log(datapoints);
                                    const totalvalue = datapoints.reduce((total, datapoint) => total + datapoint,
                                        0);
                                    const percentageValue = (value / totalvalue * 100).toFixed(2);
                                    const display = [`${percentageValue}%`]
                                    return display;
                                },
                                font: {
                                    weight: 'bold'
                                }
                            },
                            legend: {
                                display: false,
                                onHover: (event, chartElement) => {
                                    event.native.target.style.cursor = 'pointer';
                                },
                                onLeave: (event, chartElement) => {
                                    event.native.target.style.cursor = 'default';
                                }
                            }
                        }
                    },
                    plugins: [ChartDataLabels]
                };
                const circleChart = new Chart(document.getElementById(id),
                    config);
            }

        //證券淨值圖
        var lineChart;
        var lineData=[];
        var lineLabels = [];

        function GetValueLineChart(id) {
            $.ajax({
                type: "get",
                url: 'http://localhost:56540/MemberSecurities/GetValueLineChart/'+id,
                async: false,
                success: function (data) {
                    for (let i = 0; i < data['data'].length; i++) {
                        lineData.push(data['data'][i]);
                        lineLabels.push(data['labels'][i]);
                    }
                }
            });
        };
        GetValueLineChart(id);
        console.log(lineLabels);
        data = {
            labels: lineLabels,
            datasets: [{
                label: ['證券淨值'],
                data: lineData,
                borderWidth: 1,
                pointRadius: 0
            }]
        };

        config = {
            type: "line",
            data,
            options: {
                animation: false,
                scales: {
                    x: { grid: { drawOnChartArea: false } },
                    y: {
                        beginAtZero: false,
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        onHover: (event, chartElement) => {
                            event.native.target.style.cursor = 'pointer';
                        },
                        onLeave: (event, chartElement) => {
                            event.native.target.style.cursor = 'default';
                        }
                    }
                }
            }
        };
        lineChart = new Chart(document.getElementById("secValueLineChart"),
            config);

        //取得網址CCY參數
        const url = window.location.href;
        const queryArr1 = url.split('?');
        const queryArr2 = queryArr1[1].split('=');
    </script>
}
