@model IEnumerable<AMWP.Models.Properties>

@{
    ViewBag.Title = "會員房產";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 3;
    string CCY = "USD";
    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    }
}

<h3 class="alert alert-info text-center">會員房產</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Principal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currencies.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.Account)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currencies.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members.Account)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SSN }) |
                @Html.ActionLink("Details", "Details", new { id = item.SSN }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SSN })
            </td>
        </tr>
    }

</table>
@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #f6b0e8;
            border-color: #bee5eb;
        }
    </style>
}
