@using System.Data;

@model System.Data.DataTable
@{
    ViewBag.Title = "會員房產狀況";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int memberID = 24;
    string CCY = "USD";

    if (Session["mem"] != null)
    {
        memberID = Convert.ToInt32(Session["mem"]);
        CCY = Convert.ToString(Session["CCY"]);
    };
}

<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr>
                @for(int i = 1; i < Model.Columns.Count; i++) { 
                    <th width="11%">
                        @Model.Columns[i]
                    </th>

                }

                <th>
                    <button class="btn btn-primary" id="showAddForm"><i class="bi bi-plus-circle"></i> </button>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>
                        @row["房產名稱"]
                    </td>
                    <td>
                        @Convert.ToDateTime(row["購置日期"]).ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @row["價格"]
                    </td>
                    <td>
                        @row["貸款金額"]
                    </td>
                    <td>
                        @row["貸款期數"]
                    </td>
                    <td>
                        @row["每月還本金額"]
                    </td>
                    <td>
                        @row["每月還款日"]
                    </td>
                    <td>
                        @row["資產幣別"]
                    </td>

                    <td>
                        <button class="btn bi-pencil-fill text-info" id="@(Convert.ToInt32(row["SSN"]))"></button>
                        <a class="btn bi-trash3-fill text-danger" href="@Url.Action("Delete", "Properties", new { id = @row["SSN"] })" onclick="return confirm('您確定要刪除本筆房產嗎？')"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot id="addProperties">
            <tr>
                @Html.Action("_Create", "Properties")
            </tr>
        </tfoot>



    </table>
</div>
@section CSS{
    <style>
        #addProperties {
            display: none;
        }
    </style>
}
@section scripts{
    <script>
        $('#sidebarMenu .nav-link').removeClass('active');
        $('#navLink4').addClass('active');

       
        $('#showAddForm').click(function () {

            $('#addProperties').slideToggle(500);
        });
    </script>
}
