<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MY資產管理</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("CSS",false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efeea4">
            <a class="navbar-brand" href="/AdminLogin/Login">MY資產管理</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                @if(Session["admin"]!=null){
                    <li class="nav-item">
                        <a class="nav-link" href="/Admins/Index">管理員 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            會員管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Members/Index">會員列表</a>
                            <a class="dropdown-item" href="/Managements/Index">帳號管理</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            會員資產管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/SecOrders/Index">證券交易列表</a>
                            <a class="dropdown-item" href="/Properties/Index">房產交易列表</a>
                            <a class="dropdown-item" href="/Cash/Index">現金列表</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            證券管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Securities/Index">證券列表</a>
                            <a class="dropdown-item" href="/SecTypes/Index">證券類別列表</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            證券成交資料
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Monthly/Index">月成交資訊</a>
                            <a class="dropdown-item" href="/Weekly/Index">週成交資訊</a>
                            <a class="dropdown-item" href="/Daily/Index">日成交資訊</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            其他資料管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Countries/Index">註冊國家</a>
                            <a class="dropdown-item" href="/Currencies/Index">交易幣別</a>
                        </div>
                    </li>
                }
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
                <div>
                    @if (Session["admin"] != null)
                    {
                    @Html.ActionLink("登出", "Logout", "AdminLogin", null, new { @class = "btn btn-info" })
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - MY資產管理顧問股份有限公司</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
