<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CSS", false)
    @RenderSection("dashboardCSS", false)
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-2 col-lg-1 mr-0 px-3" href="#">會員資產管理</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<div class="text-right">
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            </div>*@
        @*<ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>*@
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 col-lg-1 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active h6" href="@Url.Action("Dashboard", "Dashboard", new { id = Session["mem"]!=null? Session["mem"]:1 })">
                                <i class="bi bi-graph-up-arrow"></i>
                                資產儀表板
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6" href="#">
                                <i class="bi bi-bank"></i>
                                證券資產
                            </a>
                        </li>
                        <li class="nav-item h6">
                            <a class="nav-link" href="#">
                                <i class="bi bi-coin"></i>
                                現金
                            </a>
                        </li>
                        <li class="nav-item h6">
                            <a class="nav-link" href="#">
                                <i class="bi bi-houses"></i>
                                房產與貸款
                            </a>
                        </li>
                        <li class="nav-item h6">
                            <a class="nav-link" href="#">
                                <i class="bi bi-bar-chart-line"></i>
                                投資組合比較
                            </a>
                        </li>
                        <li class="nav-item h6">
                            <a class="nav-link" href="#">
                                <i class="bi bi-calculator"></i>
                                財務目標分析
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span class="h6"><i class="bi bi-person-gear"></i>帳號管理</span>

                    </h6>
                    <ul class="nav flex-column mb-2 h6">
                        @if (Session["mem"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/MemberLogin/Login">
                                    <span data-feather="file-text"></span>
                                    <i class="bi bi-box-arrow-in-right"></i>登入會員帳號
                                </a>
                            </li>
                        }
                        @if (Session["mem"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">

                                    Last quarter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">

                                    Social engagement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/MemberLogin/Logout">
                                    <i class="bi bi-box-arrow-left"></i>
                                    登出
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="col-md-10 ml-sm-auto col-lg-11 px-md-5">
                @RenderBody()
                <hr />
                <footer>
                    <p class="text-center">Copyright &copy; @DateTime.Now.Year - MY資產管理顧問股份有限公司</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/AMWP.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $('#sidebarMenu a').click(function (evt) {
            $('#sidebarMenu a').removeClass('active');
            $(evt.target).addClass('active');
        });
    </script>
</body>

</html>
