@model IEnumerable<AMWP.Models.Securities>

@{
    ViewBag.Title = "證券管理";
}
<hr />
<h3 class="alert alert-info text-center">證券列表</h3>

<div class="row">
    <h4 class="col-md-8 text-right text-danger">@TempData["ForeignKey"]</h4>
    <div class="col-md-4 text-right mb-3">
        @Html.ActionLink("新增證券", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SecID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCYID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeID)
            </th>
            <th>資料管理</th>
            <th>上傳API</th>

        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SecID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Countries.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currencies.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecTypes.Name)
                </td>
                <td>                   
                    @Html.ActionLink("修改", "Edit", new { id = item.SecID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("刪除", "Delete", new { id = item.SecID }, new { @class = "btn btn-danger", onclick = "return confirm('您確定要刪除「" + item.Name + "」的證券嗎？')" })
                </td>
                <td>
                    <input id="UploadData" type="button" value="上傳" class="btn btn-primary"/>
                </td>
            </tr>
        }
    </tbody>
</table>


@section CSS{
    <style>
        .alert-info {
            color: #0c5460;
            background-color: #dabef5;
            border-color: #bee5eb;
        }
    </style>
}
    